---
---

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.container {
  max-width: 800px;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.green {
  color: green;
}

.flex {
  display: flex;
}

.flex {
  align-items: flex-start;
}


.newline-hint span {
  display: inline-block;
}

header {
  border-bottom: solid 1px #ccc;

  h1, h2 {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 0.2rem;
    color: #585450;
  }

  a {
    padding: 25px 0 0 90px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    background: url(/image/bcdice-logo.png) no-repeat left 10px;
  }

  .container {
    padding: 0.5rem 0;
  }
}

.intro, .not-found {
  background-color: #f1f1f1;
  border-bottom: solid 1px #ccc;
}

.intro .code {
  flex: 2;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border: solid 1px #ccc;

  p{
    margin: 0;
    font-weight: 600;
    line-height: 1.5rem;
  }
}

.intro .invite {
  flex: 1;
  box-sizing: border-box;

  .discord {
    background-color: #7289DA;
  }

  .google-forms {
    background-color: rgb(103, 58, 183);
  }

  .github {
    background-color: #24292e;
  }

  .docs {
    background-color: #546E7A;
  }

  svg {
    fill: #ffffff;
  }

  .btn {
    display: inline-flex;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

    border-radius: 4px;
    padding: 0.3em 0.5em;
    margin-bottom: 0.6rem;

    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

    span {
      padding-left: 0.3rem;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.intro {
  .container {
    padding-bottom: 0rem;
  }
}

article {
  a {
    color: #1565c0;
    text-decoration: underline;
  }

  a:hover {
    color: #2196f3;
  }

  h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
  }

  section.summary p {
    font-size: 1.3rem;
  }

  table.system-list {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 0.3rem 0.5rem;
      border: 1px solid #ccc;
      text-align: left;
      word-break: break-all;
    }

    th {
      font-weight: 600;
    }

    .system-name {
      width: 60%;
    }

    .system-id {
      width: 40%;
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #f1f1f1;
      }
    }
  }
}

.maintainer {
  display: flex !important;

  .icon {
    margin-top: 4px;
    width: 100px;
    height: 100px;
  }

  .info {
    margin-left: 18px;
    ul {
      padding-left: 24px;
    }
  }

  h3{
    margin-top: 0;
    margin-bottom: 0.2em;
  }
}

.maintainer + .maintainer {
  margin-top: 30px;
}

footer {
  margin-top: 24px;
  text-align: center;
  color: #555;

  svg {
    width: 36px;
    height: 36px;
  }

  .footer-sns {
    a {
      margin: 0 12px;
      fill: #555;
      text-decoration: none;
    }

    a:hover {
      fill: #888;
    }
  }
}

.not-found {
  text-align: center;

  h1 {
    margin: 1rem 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

@media (max-width: 800px) {
  header .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .intro {
    .flex {
      flex-direction: column;
    }

    .code {
      margin-left: 0;
    }
  }
}
