---
title: 対応ゲームシステム一覧 - BCDice
description: 100以上のゲームシステムに対応
layout: default
---
<article class="container">
  <h1>対応ゲームシステム一覧</h1>
  <p>BCDice {{ site.data.systems.version }}</p>
  <div>
  {% for category in site.data.systems.systems %}
  <a href="#{{ category[0] }}">{{ category[0] }}</a>
  {% endfor %}
  </div>

  {% for category in site.data.systems.systems %}
  <h2 id="{{ category[0] }}">{{ category[0] }}</h2>
  <table class="system-list">
    <thead>
      <tr>
        <th class="system-name">名前</th>
        <th class="system-id">ID</th>
      </tr>
    </thead>
    <tbody>
    {% for system in category[1] %}
      <tr>
        <td class="system-name">{{ system.name }}</td>
        <td class="system-id">{{ system.system }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</article>
