---
title: 対応システム一覧 - BCDice
description: 100以上のゲームシステムに対応
layout: default
---
<article class="container">
  <h1>対応ゲームシステム一覧</h1>
  <p>BCDice Ver{{ site.data.systems.version }}</p>
  <div>
  {% for category in site.data.systems.systems %}
  <a href="#{{ category[0] }}">{{ category[0] }}</a>
  {% endfor %}
  </div>

  {% for category in site.data.systems.systems %}
  <h2 id="{{ category[0] }}">{{ category[0] }}</h2>
  <ul>
    {% for system in category[1] %}
    <li>{{ system.name }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</article>
