
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/image/bcdice.png">
  <meta property="og:site_name" content="BCDice">
  <meta name="twitter:card" content="summary">

  <title>BCDice</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
<header>
  <div class="container newline-hint">
    <a href="/">
      <h1>BCDice</h1>
      <h2><span>A TRPG Dice-roll Engine:</span> <span>Bones & Cards</span></h2>
    </a>
  </div>
</header>

{{ content }}

<footer>
  <div class="footer-sns">
    <a href="{{ site.discord_invite_url }}">{% include icon-discord.svg %}</a>
    <a href="{{ site.github_org_url }}">{% include icon-github.svg %}</a>
  </div>
  <p>&copy; 2020 BCDice Project</p>
</footer>

</body>
</html>
